:root {
    --dark_theme_color: #1F1B24;
    --font_color: #E7F6F2;

    --card_dark_background: #332940;
  }

* {
    background-color: var(--dark_theme_color) !important;
    color: var(--font_color);
}

.card , .card-body , .lead , .card-title , .card-text , .text-warning {
    background-color: var(--card_dark_background) !important;
}

.lead {
    color: var(--font_color)  !important;
}

#flexSwitchCheckDefault {
    background-color: var(--font_color);
}

#repeat {
    background-color: #A5C9CA !important;
    color: var(--dark_theme_color);
}

.text-danger {
    color: #e2423f;
}

.material-symbols-outlined {
    background-color: var(--card_dark_background) !important    ;
}

.error {
    border-color: var(--card_dark_background);
}